/* This file contains styling for assignment 2 (index.html) */

/*body {
	font-family: "Arial";
	padding: 1em 2em 2em 2em;
	color: black;
	background-color: white;
}

h1 {
	text-align: center;
	margin: 0;
}


#contact_info {
	text-align: center;
	margin: 0;
}

.section {
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: underline;
}*/
