/* This file contains styling for index.html */

body {
	font-family: Menlo;
	color: black;
}

h1, h2 {
	font-family: Arial;
	text-align: center;
	font-weight: bold;
	margin: 0;
}

img {
	width: 50%;
	height: 50%;
}

.issueheading {
	font-weight:bold;
}

.subheading {
	text-indent: 50px;
	font-weight:bold;
}

.description {
	text-indent: 50px;
}

